/*
.list {
    color: red;

}
li {
    background-color: orange;
    
}

*/
body {
    background-color: #edf0f7;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    align-items: center;
   
}

.header {
    font-family: sans-serif, Arial, initial;
    font-weight: 600;
    font-size: 18px;
    background-color: #1f2a37;
    color: white;
    display: flex;
    font-family: sans-serif;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    width: 100%;
    
}

#logo {
    background-color: #1f2a37;
    padding: 16px 20px;
    display: flex;
    justify-content: flex-start;
}

.mainmenu {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;

}

.home .search .calculators .projects
{
    padding: 10px 10px;
    
}

.menu {

    display: flex;
    align-items: center;
    gap: 15px;
    padding-right: 30px;
}

.startproject {
    padding: 16px 20px;
    border-radius: 20px;
    border: 3px solid blue;
    background-color: blue;
}

.banner1 {
    align-items:center;
    width: 1200px;
    flex-direction: column;
    justify-content: center;
    display: flex;
    margin-bottom: 100px;
}

.banner2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: blueviolet;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.hero {
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    border-radius: 16px;
    background-color: #1f2a37;
    margin-top: 100px;
    padding: 20px 40px;
    color: white;
    width: 80%;
}


.subtitle {
    text-align: left;
    padding-left: 10px;
    font-size: 22px;
    font-weight: 600;
}

.subheading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 1200px;
    background-color: white;
}


li {

    color: blue;
    font-size: 20px;
    padding: 35px;
}